.logo {
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    display: flex;
    flex-direction: row;
}

.left-layout {
    height: 100vh;
}

nz-sider {
    height: 100%;
}

.right-layout {
    padding: 30px;
}

nz-content {
    margin: 24px 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

nz-footer {
    text-align: center;
}

.sider-option {
    display: flex;
    align-items: center;
}

.divider {
    margin: 0px;
    background-color: #dee2e6;
}

.avatar-img {
    margin-right: 6px;
}

.logo-text {
    font-weight: bold;
    font-size: 20px;
}

.username {
    font-weight: 600;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}