/* You can add global styles to this file, and also import other style files */
p {
    margin: 0;
}
button {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
}