.image {
    height: 100px;
}

.tools-inner{
    display:flex;
    justify-content: space-around;
}
.icon {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.lessons-add-btn {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}