
<a routerLink="../lessons">Quay lại</a>
<nz-steps [nzCurrent]="steps" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Chọn lớp học"></nz-step>
    <nz-step nzTitle="Tạo bài giảng"></nz-step>
    <nz-step nzTitle="Xác nhận"></nz-step>
</nz-steps>
<div class="step-container">
    <div *ngIf="steps === 0">
        <nz-tree-select
        class="tree-select"
          [nzNodes]="nodes"
          [(ngModel)]="value"
          nzPlaceHolder="Chọn lớp học cho tài liệu"
          [nzDefaultExpandAll]="true"
          [nzAllowClear]="false"
          [nzMultiple]="true"
          [nzShowLine]="true"
          (ngModelChange)="onChange($event)"
        >
        </nz-tree-select>
    </div>
    <div *ngIf="steps === 1">
        
    </div>
    <div *ngIf="steps === 2">
        
        test3
    </div>

</div>