<a routerLink="../lessons">Quay lại</a>
<div class="steps-container">
    <nz-steps [nzCurrent]="steps" (nzIndexChange)="_onStepChange($event)">
        <nz-step nzTitle="Thông tin cơ bản"></nz-step>
        <nz-step nzTitle="Tạo bài giảng"></nz-step>
        <nz-step nzTitle="Xác nhận"></nz-step>
    </nz-steps>
</div>
<div class="step-container">
    <!-- first step -->
    <div *ngIf="steps === 0" style="display: flex;">
        <div class="img-picker" nz-col nzSpan="6">
            <img class="img" [src]="data.image">
            <p>Cập nhật ảnh</p>
        </div>
        <div class="basics" nz-col nzSpan="18" [formGroup]="profileForm">
            <div class="form-group">
                <nz-form-label [nzSm]="4" nzRequired>Tên</nz-form-label>
                <input nz-input formControlName="name" />
            </div>
            <div class="form-group">
                <nz-form-label [nzSm]="4" nzRequired>Mô tả</nz-form-label>
                <textarea rows="4" nz-input formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <nz-form-label [nzSm]="4" nzRequired>Bộ môn</nz-form-label>
                <nz-tree-select class="tree-select" [nzNodes]="subjects" formControlName="subject"
                    nzPlaceHolder="Chọn lớp học cho tài liệu" [nzDefaultExpandAll]="true" [nzAllowClear]="false"
                    [nzShowLine]="true" (ngModelChange)="_onTreeChange($event)" nzShowSearch>
                </nz-tree-select>
            </div>
        </div>
    </div>
    <!-- second step -->
    <div *ngIf="steps === 1">
        <div class="sections-list" *ngFor="let section of data.sections;let i = index">
            <div class="section-name " nz-col nzSpan="24">
                <nz-form-label [nzSm]="2">Chương {{i+1}}</nz-form-label>
                <input nz-input [(ngModel)]="section.name" (ngModelChange)="_test()" />
                <i nz-icon nzType="minus-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'" class="delete-icon"
                    (click)="_onSectionRemove(i)"></i>
            </div>
            <div class=" section" nz-col nzSpan="24">
                <div class="curriculums-list" *ngFor="let curriculum of section.curriculums;let j = index">
                    <div class="form-group curriculum">
                        <nz-form-label [nzSm]="2">Nội dung {{j+1}}</nz-form-label>
                        <input nz-input [(ngModel)]="curriculum.name" />
                        <i nz-icon nzType="minus-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"
                            class="delete-icon" (click)="_onCurriculumRemove(i,j)"></i>
                    </div>
                    <nz-radio-group class="form-group radio" [(ngModel)]="curriculum.type">
                        <label nz-radio nzValue="video">Video</label>
                        <label nz-radio nzValue="doc">Tài liệu</label>
                        <label nz-radio nzValue="qa">Câu hỏi</label>
                    </nz-radio-group>
                    <div class="options">
                        <div *ngIf="curriculum.type=='video'">
                            Nhập đường dẫn
                            <input nz-input [(ngModel)]="curriculum.name" />
                        </div>
                        <div *ngIf="curriculum.type=='doc'">
                            Up tài liệu
                            <input nz-input [(ngModel)]="curriculum.name" />
                        </div>
                        <div *ngIf="curriculum.type=='qa'">
                            <button nz-button nzType="primary" class="button" (click)="_onQuestionAdd()">
                                Tạo câu hỏi
                            </button>
                        </div>
                    </div>

                </div>
                <button (click)="_onCurriculumAdd(i)">Thêm nội dung</button>
            </div>
        </div>
        <button nz-button nzType="primary" class="button" (click)="_onSectionAdd()">
            <i nz-icon nzType="plus"></i>
            Thêm chương
        </button>
    </div>
    <!-- third step -->
    <div *ngIf="steps === 2">
        test 3
    </div>
    <div class="steps-action">
        <button class="button" nz-button nzType="default" (click)="pre()" *ngIf="steps > 0">
            <i nz-icon nzType="left" nzTheme="outline"></i>
            <span>Previous</span>
        </button>
        <button class="button" nz-button nzType="primary" (click)="next()" *ngIf="steps < 2">
            <span>Next</span>
            <i nz-icon nzType="right" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="primary" (click)="done()" *ngIf="steps === 2">
            <span>Done</span>
        </button>
    </div>
</div>